<h1> Applied Data Science Capstone </h1>
<h3> Importing the Code from Part 1: </h3>

Step 1: Import the necessary libraries for reading a Wikipedia page. The data that will be used is found at this link: https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [2]:
import sys
!{sys.executable} -m pip install bs4

Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Collecting beautifulsoup4 (from bs4)
  Downloading https://files.pythonhosted.org/packages/66/25/ff030e2437265616a1e9b25ccc864e0371a0bc3adb7c5a404fd661c6f4f6/beautifulsoup4-4.9.1-py3-none-any.whl (115kB)
     |████████████████████████████████| 122kB 13.9MB/s eta 0:00:01
Collecting soupsieve>1.2 (from beautifulsoup4->bs4)
  Downloading https://files.pythonhosted.org/packages/6f/8f/457f4a5390eeae1cc3aeab89deb7724c965be841ffca6cfca9197482e470/soupsieve-2.0.1-py3-none-any.whl
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/a0/b0/b2/4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.9.1 bs4-0.0.1 soupsieve-2.0.1

In [3]:
import urllib.request    #method to open URLs
from bs4 import BeautifulSoup
print("Beautiful Soup package successfully installed!")

Beautiful Soup package successfully installed!

In [4]:
#extract the html data from the Wikipedia url
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)

#feed the html data into the BeautifulSoup constructor
soup = BeautifulSoup(page, 'html.parser')

In [5]:
#display the contents of the wiki page
#print(soup.prettify())    #uncomment to view the raw html

#scrape the table from the file utilizing the table html tag
html_table = soup.find('table', class_ = 'wikitable sortable')
#html_table    #uncomment to view the raw table data

We have isolated the table data in the HTML file. In HTML, rows are signified by the \<tr> tag and columns are signified by the \<th> tag. The data itself is signified with the \<td> tag. Let's loop through the table one row at a time with the findAll() function provided by Beautiful Soup. From observing the table on the Wikipedia page, we know the table has 3 columns: Postal Code, Borough, and Neighborhood

In [56]:
#df.drop(df.index, inplace = True)
#df.head()

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [6]:
#create an empty list for each column
A = []
B = []
C = []

for row in html_table.findAll('tr'):
    cells = row.findAll('td')
    if len(cells) == 3 and cells[1].find(text = True) != 'Not assigned\n':
    
        #add the data to the appropriate list and strip away the \n for each data point
        A.append(cells[0].find(text = True).rstrip('\n'))
        B.append(cells[1].find(text = True).rstrip('\n'))
        C.append(cells[2].find(text = True).rstrip('\n'))

Now, we introduce the pandas library so we can store the table data into a pandas dataframe.

In [7]:
import pandas as pd

df = pd.DataFrame(A, columns = ['Postal Code'])
df['Borough'] = B
df['Neighborhood'] = C
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

At this point, the dataframe correctly holds all data entries that were assigned a borough on the Wikipedia page. There are no cells that have not been assigned a Neighborhood if they have been assigned a borough. Printing out the shape of the dataframe to end Part 1:

In [8]:
print(df.shape)

(103, 3)

<h1> Toronto Segmenting and Clustering, Part 2 </h1>

Using the CSV file provided in the lab instructions (contains latitude and longitude data):

In [12]:
geo_coords = pd.read_csv('http://cocl.us/Geospatial_data')
geo_coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [13]:
#merge the two dataframes with the merge() function
df_coords = pd.merge(df, geo_coords, on = 'Postal Code')
df_coords.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [14]:
print(df_coords.shape)

(103, 5)